doctype html
html
  head
    link(rel="stylesheet", href="/vendors.css")
    link(rel="stylesheet", href="/dashboard.css")
    title= title
  body
    div(id='like')
    script(src="/vendors.js")
    script(src="/dashboard.js")